html,
body {
    height: 100%;
    background-color: #eceff1;
}

.input-field .help-block {
    font-weight: 500;
    font-size: 12px !important;
}

.input-field{margin-top: 20px !important;}

label.block {
    display: block;
    margin-bottom: 15px;
    position: relative !important;
}

.has-error input,
.has-error textarea {
    color: #555 !important;
    border-color: #e51c23 !important;
    border-bottom: 1px solid #e51c23 !important;
    box-shadow: none !important;
    margin-bottom: 5px;
}

.has-error .help-block,
.has-error label {
    color: #e51c23;
    margin-bottom: 15px;
}

.post .card-image {
    max-height: 300px !important;
    overflow: hidden;
    vertical-align: middle;
}

.post .card-image .card-title {
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.post .card-image:hover .card-title {
    background-color: rgba(106, 27, 154, 0.8);
}

.post .card-image img {
    overflow: hidden;
}

.post .card-title small {
    display: block;
    font-size: 60%;
    line-height: normal;
}

.post .card-image .card-title a,
.post .card-image .card-title a:hover
{color: #fff; display: block;}

.post .card-title a{color: #505050; display: block;}
.post .card-title a:hover{color: #000;}

.post .card-title small a {
    color: #6a1b9a;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block !important;
}

.post .card-title small a:hover {
    text-decoration: none;
}

.post .card-image .card-title small a {
    color: #ffffff;
}

.parallax-container .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(142, 36, 170, 0.5);
}

.parallax-container .cont {
    color: #fff;
    position: absolute;
    text-align: center;
    font-weight: 100;
    display: block;
    width: 100%;
}

.parallax-container{height: 60%; z-index: 1000;}

.parallax-container .cont h1,
.parallax-container .cont h2,
.parallax-container .cont h3,
.parallax-container .cont h4 {
    font-weight: 100;
    text-shadow: 1px 1px 0 #000;
}

.parallax-container .cont img{
    border: 5px solid #aa00ff;
}

.pagination .active {
    background-color: #8e24aa !important;
}

.fixed-on-scroll {
    z-index: 999999;
}

blockquote{
    padding: 10px;
    border-color: #8e24aa;
    background-color: #f3e5f5 ;
    color: #4a148c;
    font-weight: 300;
}

blockquote small{
    color: #8e24aa;
    font-size:12px;
    font-weight: 500;
}
a.chip{
    font-weight:300;
    background-color: #ba68c8;
    color: #fff;
    transition: all 0.3s ease-in;
}
a.chip:hover{
    background: #8e24aa;
    color: #fff;
}

a.additional-link{color: #607d8b ; transition: all 0.2s; font-size: 14px;}
a.additional-link strong{font-size: 16px; padding: 5px 20px; display: block;}
a.additional-link small{font-size:12px;}
a.additional-link:hover{color: #000;}
a.additional-link .card{transition: all 0.2s ease-in; border-top: 5px solid #8e24aa; box-sizing: border-box;}
a.additional-link:hover .card{border-top: 10px solid #4a148c; }
a.additional-link .card .card-content{ padding-top: 0px;}


a.text-white{color: #fff;}

.main-post-editor{
    min-height: 600px;
}

.main-content-area{
    margin: 50px auto;
}
.admin-content-area{
    margin: 100px auto;
}

[data-role=random-quote]{cursor: pointer;}